/* body css */
body{
    padding: auto;
    background-color: white;
    color: black;
    font-size: 25px;
}

/* Dark mode CSS */
.dark-mode{
    background-color: black;
    color: white;
}

/* Slider css */

/* text css above hero image */
.hero_title{
    font-size: 4.5rem;
}

.hero_desc{
    font-size: 2rem;
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

